

/*
Acho que  vou gostar de mexer com CSS 

LEBRONNNNNNNNNN!! WHOS THE GOAT LEBRONNNNNNN

No CSS nós expressamos estilos na página
Exemplo:´´O paragrafo deve ser da cor vermelha´´

SELETOR (Quem?) O paragrafo  p
ATRIBUTO (O que?)   A cor    color
VALOR (Qual?) Vermelho       red

*/

p{
color: black;
font-size: 25px;
font-family: Comic Sans MS;
background-color: rgb(73, 0, 243);
text-align: center;
border: 4.5px groove  rgb(99, 49, 145);
border-left: 5px ridge ;
}

h1{
    color: rgb(89, 138, 130);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


img{
height: 200px;
width: 280px;
border: 2px solid black;
border-radius: 10%;
background-color: rgb(0, 0, 0);
}

body{
    background-color: rgb(0, 0, 0);
}


/*
Solid
Dotted
Dashed
Double
Inset
Outset
Ridge
Groove
*/


/*









*/
















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































