img{
    height: 20px;
}


div{
    background-color: rgb(0, 0, 0);
    color: blue;
    border: 10px double purple;
    padding: 1%;

    margin-bottom: 0px;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 0px;
    margin: 0px 0px 0px 0px;
    width: 10%;
    opacity: 1;
    scale: 1;
    transition: 2s;
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(43, 110, 72, 1) 58%, rgba(237, 221, 83, 1) 100%);
}


body{
     margin: 0;
}

div:hover{
    color: blueviolet;
    opacity: 0.9 ;
    width: 50%;
}




































































































































































































































































































































































































































































































































































































































































































